<!doctype html>
<html lang='en-gb'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title></title>
  <meta name='description' content=''>
  <meta name='robots' content=''>
  <link rel='shortcut icon' href=''>
  <!--[if lt IE 9]>
  <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
  <%= yield %>
</body>
</html>
